{extend name='common:parent' /}
{block name="title"}添加管理员{/block}
{block name="content"}

<div clas="layui-row">
<div class="big_clear"></div>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" required lay-verify="required" placeholder="请输入管理员用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="upwd" required lay-verify="required" placeholder="请输入管理员登陆密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">管理员等级</label>
        <div class="layui-input-block">
            <input type="radio" name="support_level" required lay-verify="required" value="1" title="高级">
            <input type="radio" name="support_level" required lay-verify="required" value="2" title="普通">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="send">添加</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form','layer'],
    function() {
        var form = layui.form;
        var layer = layui.layer;
        var j = layui.$;

        form.on('submit(formDemo)',
        function(data) {
            // console.log(data)
            if(!data.field.support_level) {
                layer.msg('内容未填写完整',{icon:5,time:1200});
                return false;
            }
            j('#send').text('提交中...');
            j('#send').attr('disabled',true);
            j.ajax({
                url:'/manage/user/addsupport'
                ,type: 'POST'
                ,data: data.field
                ,dataType:'json'
                ,success:function(e){
                    switch(e.code)
                    {
                        case 0:
                            layer.msg(e.msg,{icon:5,time:1200}
                                ,function(){
                                    window.location.reload();
                                }
                            );
                            break;
                        case 1:
                            layer.msg(e.msg,{icon:1,time:1100}
                                ,function(){
                                    window.location.href=e.url
                                }
                            );
                            break;
                    }
                }
            });
            return false;
        });

    });
</script>

</div>


{/block}